.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul.browser-default li {
  list-style-type: initial;
}

div{
  margin: 5%;
}

.category{
  font-weight: bold;
}

.description{
  font-size: 90%;
  padding-top: 1%;
  font-style: italic;
}

.App-link {
  color: #09d3ac;
}


#virtualMcSlapCard{
  background-image: url("./background.jpeg");
}