.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul.browser-default li {
  list-style-type: initial;
}

div{
  margin: 5%;
}

.category{
  font-weight: bold;
}

.description{
  font-size: 90%;
  padding-top: 1%;
  font-style: italic;
}

.App-link {
  color: #09d3ac;
}


#virtualMcSlapCard{
  background-image: url("./background.jpeg");
}

/* Bounce In */
.TimelineBox {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.TimelineBox:hover, .TimelineBox:focus,.TimelineBox:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}